.card {
  border: 1px solid #4e4b4b;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name {
  font-weight: 700;
  text-transform: uppercase;
}
.image {
  max-width: 200px;
  max-height: 200px;
}
button.button {
  margin: 20px;
}
@media (max-width: 576px) {
  .card {
    max-width: 200px;
  }
}
