.card {
  border: 1px solid #4e4b4b;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  margin: 20px !important;
}
.name {
  font-weight: 700;
  text-transform: uppercase;
}
