.image {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.order {
  border: 1px solid rgb(148, 141, 141);
  margin: 50px;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.itemInfo {
  width: 400px;
}
.name {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 576px) {
  .item {
    flex-direction: column;
  }
  .itemInfo {
    width: 200px;
  }
}
