@import '../../../styles/colors';
@import '../../../styles/breakpoints';
.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  background-color: $bg-main;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  word-break: break-word;
}
.messageContainer {
  display: flex;
  justify-content: flex-end;
}

.messageTime {
  font-size: 10px;
  color: $medium-gray;
  text-align: right;
}

@media (max-width: $sm) {
  .messageTime {
    font-size: 8px;
  }
}
