@import '../../../styles/colors';
@import '../../../styles/breakpoints';
.container {
  padding-top: 100px;
  margin: 0 auto;
}

.row {
  padding: 30px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  position: relative;
}

.image {
  max-width: 150px;
  max-height: 150px;
}

.dealer {
  margin: 20px;
  padding: 20px;
}

.name {
  text-transform: uppercase;
  font-weight: 700;
}
.ceil {
  flex-basis: 300px;
}
.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.amountHandler {
  width: 20px;
}
@media (max-width: $md) {
  .row {
    flex-direction: column;
    padding: 10px 0 0 0;
  }
  .ceil {
    flex-basis: 40px;
  }
}
