@import '../../../styles/colors';
@import '../../../styles/breakpoints';
.card {
  border: 1px solid $bg-gray;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img {
  max-width: 200px;
  max-height: 200px;
}
button.button {
  margin: 20px;
}
.name {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: $sm) {
  .card {
    max-width: 200px;
    margin: 5px;
  }
}
