.container {
  max-width: 1200px;
  margin: 100px auto;
}
.form {
  display: flex;
  flex-direction: column;
}
.inputContainer {
  margin: 15px;
}
.input {
  margin: 10px;
  width: 90%;
}
.header {
  margin: 20px;
}
.button {
  margin: 30px !important;
}
.formContainer {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.formDiv {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}
.saveCheck {
  margin: 20px !important;
}
